node-red/flowdronesimulator.json
[{"id":"c0d545c7.cfc878","type":"tab","label":"Flow 2"},{"id":"eb747f77.b3c0c","type":"inject","z":"c0d545c7.cfc878","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":167.07144165039062,"y":149.5714340209961,"wires":[["e120b8f2.494038"]]},{"id":"e120b8f2.494038","type":"function","z":"c0d545c7.cfc878","name":"","func":"var battery = getRandomArbitrary(0,100);\nvar yaw = getRandomArbitrary(-1,1);\nvar pitch = getRandomArbitrary(-1,1);\nvar roll = getRandomArbitrary(-1,1);\nvar altitude=getRandomArbitrary(0,3000);\nvar time = new Date();\nvar words = [\"Landed, Emergency, Command\", \"Flying, Hovering, Command, Watchdog\", \"Landed, Command, Watchdog\"];\nvar word = words[Math.floor(Math.random() * words.length)];\nvar newMsg = {\"DeviceID\":\"DroneTestJM\",\"Battery\":battery,\"Yaw\":yaw,\"Pitch\":pitch,\"Roll\":roll,\"State\":word,\"Timestamp\":time, \"altitude\":altitude }\nmsg.payload = newMsg;\nreturn msg;\n\nfunction getRandomArbitrary(min, max) {\n  return Math.random() * (max - min) + min;\n}","outputs":1,"noerr":0,"x":289.0714588165283,"y":259.42859649658203,"wires":[["9e4c6e99.7cb44"]]},{"id":"9494a221.eefd5","type":"debug","z":"c0d545c7.cfc878","name":"","active":true,"console":"false","complete":"payload","x":761.0714874267578,"y":227.5714569091797,"wires":[]},{"id":"72c07f5e.131f2","type":"azureiothub","z":"c0d545c7.cfc878","name":"Azure IoT Hub","protocol":"mqtt","x":592.0714416503906,"y":129.42859745025635,"wires":[["9494a221.eefd5"]]},{"id":"9e4c6e99.7cb44","type":"json","z":"c0d545c7.cfc878","name":"","x":421.0714416503906,"y":203.57144927978516,"wires":[["72c07f5e.131f2"]]},{"id":"8c3a5620.099508","type":"http response","z":"c0d545c7.cfc878","name":"","x":679.9999732971191,"y":446.66998291015625,"wires":[]},{"id":"88943652.f58588","type":"function","z":"c0d545c7.cfc878","name":"","func":"msg.payload = \"OK\"\nreturn msg;","outputs":1,"noerr":0,"x":573.9999732971191,"y":396.38427734375,"wires":[["8c3a5620.099508"]]},{"id":"80a8eeb.f53de9","type":"function","z":"c0d545c7.cfc878","name":"","func":"var data = \"DroneStart\"\n\nmsg.payload = {\"data\" : data, \"timestamp\":new Date()};\nreturn msg;","outputs":1,"noerr":0,"x":195.00004196166992,"y":506.3843584060669,"wires":[["491b2f5f.3e5d74","88943652.f58588"]]},{"id":"8fdcdb69.83e1d8","type":"http in","z":"c0d545c7.cfc878","name":"","url":"/in","method":"get","swaggerDoc":"","x":119,"y":381.66999340057373,"wires":[["80a8eeb.f53de9","9494a221.eefd5"]]},{"id":"491b2f5f.3e5d74","type":"json","z":"c0d545c7.cfc878","name":"","x":296.99997329711914,"y":417.9557189941406,"wires":[["72c07f5e.131f2","9494a221.eefd5"]]}]