node-red/flowssimulator.json
[{"id":"ffc0c858.c13c98","type":"tab","label":"Flow 1"},{"id":"faf2dced.8a22f","type":"azureiothub","z":"ffc0c858.c13c98","name":"Azure IoT Hub","protocol":"amqp","x":927.0715637207031,"y":188.71433067321777,"wires":[["4110a4e9.2c84bc"]]},{"id":"6e5e8a6a.1bb124","type":"function","z":"ffc0c858.c13c98","name":"","func":"global.set('level1',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":453.07154083251953,"y":44.714332580566406,"wires":[["3d349d19.0ac282"]]},{"id":"9c6efb3c.fe93e8","type":"ui_slider","z":"ffc0c858.c13c98","name":"","label":"Level1","group":"fdda5a53.4c4a18","order":1,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":"100","step":1,"x":244.07165145874023,"y":28.142961502075195,"wires":[["6e5e8a6a.1bb124"]]},{"id":"1b51951e.f2d1ab","type":"inject","z":"ffc0c858.c13c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":129.07146453857422,"y":273.5714645385742,"wires":[["bb43fcee.9ca7e","cc762b4f.cf4028","87beb723.ca5c28","aa87c7d1.5c31c8"]]},{"id":"bb43fcee.9ca7e","type":"ui_button","z":"ffc0c858.c13c98","name":"","group":"fdda5a53.4c4a18","order":3,"width":0,"height":0,"label":"button1","color":"","bgcolor":"","icon":"","payload":"level1","payloadType":"global","topic":"","x":198.07150268554688,"y":355.5714530944824,"wires":[["dd35e2fc.02b83","5fc8cf6a.34944"]]},{"id":"3d349d19.0ac282","type":"debug","z":"ffc0c858.c13c98","name":"","active":false,"console":"false","complete":"false","x":623.0714454650879,"y":27.000012397766113,"wires":[]},{"id":"8526beb2.ea246","type":"debug","z":"ffc0c858.c13c98","name":"","active":true,"console":"false","complete":"payload","x":1057.0715942382812,"y":391.0000877380371,"wires":[]},{"id":"dd35e2fc.02b83","type":"function","z":"ffc0c858.c13c98","name":"","func":"var level1 = global.get('level1');\nvar level2 = global.get('level2');\nvar level3 = global.get('level3');\nvar level4 = global.get('level4');\nvar time = new Date();\n//msg.payload = {\"DeviceId\":\"Pipe\", \"level\": level, \"timestamp\" : time, }\n//return msg;\n\nvar msg1 = {payload:{\"DeviceId\":\"Pipe01\", \"level\": level1, \"timestamp\" : time, \"lat\": 40.418274, \"lon\" : -3.797990}};\nvar msg2 = {payload:{\"DeviceId\":\"Pipe02\", \"level\": level2, \"timestamp\" : time, \"lat\": 40.418523, \"lon\" : -3.804565}};\nvar msg3 = {payload:{\"DeviceId\":\"Pipe03\", \"level\": level3, \"timestamp\" : time, \"lat\": 40.419131, \"lon\" : -3.792798}};\nvar msg4 = {payload:{\"DeviceId\":\"Pipe04\", \"level\": level4, \"timestamp\" : time, \"lat\": 40.410599, \"lon\" : -3.798039}};\n\n\n\nreturn [msg1, msg2, msg3, msg4 ];","outputs":"4","noerr":0,"x":406.0714988708496,"y":481.1429557800293,"wires":[["e0487362.7ff78","a628950f.188d48"],["be64d7d5.f8e0b8","a628950f.188d48"],["a20d9ca2.ce143","a628950f.188d48"],["a5d90337.d656b","a628950f.188d48"]]},{"id":"e0487362.7ff78","type":"switch","z":"ffc0c858.c13c98","name":"","property":"payload.level","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","outputs":1,"x":555.0714492797852,"y":474.42867851257324,"wires":[["cab59737.13a9f8"]]},{"id":"cab59737.13a9f8","type":"change","z":"ffc0c858.c13c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"StartDrone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":749.0716018676758,"y":486.85725021362305,"wires":[["94a92a89.f99958","8526beb2.ea246"]]},{"id":"94a92a89.f99958","type":"http request","z":"ffc0c858.c13c98","name":"","method":"GET","ret":"txt","url":"http://noderedapp2.azurewebsites.net/in","tls":"","x":668.071475982666,"y":294.28573417663574,"wires":[["8526beb2.ea246"]]},{"id":"7643bb8e.1b4114","type":"json","z":"ffc0c858.c13c98","name":"","x":762.0714836120605,"y":133.00017642974854,"wires":[["faf2dced.8a22f","4110a4e9.2c84bc"]]},{"id":"aac8055d.747ef8","type":"ui_slider","z":"ffc0c858.c13c98","name":"","label":"Level2","group":"fdda5a53.4c4a18","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":264.0714683532715,"y":86.71430110931396,"wires":[["ef4f8dd6.575dd"]]},{"id":"ef4f8dd6.575dd","type":"function","z":"ffc0c858.c13c98","name":"","func":"global.set('level2',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":427.4285316467285,"y":100.42856311798096,"wires":[["3d349d19.0ac282"]]},{"id":"129603a4.ef230c","type":"ui_slider","z":"ffc0c858.c13c98","name":"","label":"Level3","group":"665c55b1.bb2b7c","order":1,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":251.42854690551758,"y":136.42857265472412,"wires":[["63974077.30b7b"]]},{"id":"63974077.30b7b","type":"function","z":"ffc0c858.c13c98","name":"","func":"global.set('level3',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":415.4285316467285,"y":141.42856311798096,"wires":[["3d349d19.0ac282"]]},{"id":"cc762b4f.cf4028","type":"ui_button","z":"ffc0c858.c13c98","name":"","group":"fdda5a53.4c4a18","order":6,"width":0,"height":0,"label":"button2","color":"","bgcolor":"","icon":"","payload":"level2","payloadType":"global","topic":"","x":172.42855072021484,"y":409.4286003112793,"wires":[["eefa33b.11719d","dd35e2fc.02b83"]]},{"id":"eefa33b.11719d","type":"ui_gauge","z":"ffc0c858.c13c98","name":"gauge2","group":"fdda5a53.4c4a18","order":5,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":413.0714340209961,"y":342.7143096923828,"wires":[]},{"id":"903640ec.5c6ba","type":"ui_gauge","z":"ffc0c858.c13c98","name":"gauge3","group":"665c55b1.bb2b7c","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":379.4285373687744,"y":404.4286003112793,"wires":[]},{"id":"87beb723.ca5c28","type":"ui_button","z":"ffc0c858.c13c98","name":"","group":"665c55b1.bb2b7c","order":3,"width":0,"height":0,"label":"button3","color":"","bgcolor":"","icon":"","payload":"level3","payloadType":"global","topic":"","x":163.42855834960938,"y":479.4286060333252,"wires":[["903640ec.5c6ba","dd35e2fc.02b83"]]},{"id":"2bc36579.37d0aa","type":"ui_slider","z":"ffc0c858.c13c98","name":"","label":"Level4","group":"665c55b1.bb2b7c","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":270.42859649658203,"y":196.4285717010498,"wires":[["42f72d05.11f2d4"]]},{"id":"42f72d05.11f2d4","type":"function","z":"ffc0c858.c13c98","name":"","func":"global.set('level4',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":404.42852783203125,"y":200.42855834960938,"wires":[["3d349d19.0ac282"]]},{"id":"aa87c7d1.5c31c8","type":"ui_button","z":"ffc0c858.c13c98","name":"","group":"665c55b1.bb2b7c","order":6,"width":0,"height":0,"label":"button4","color":"","bgcolor":"","icon":"","payload":"level4","payloadType":"global","topic":"","x":159.42855834960938,"y":524.4285278320312,"wires":[["30e7b71f.005e68","dd35e2fc.02b83"]]},{"id":"30e7b71f.005e68","type":"ui_gauge","z":"ffc0c858.c13c98","name":"gauge4","group":"665c55b1.bb2b7c","order":5,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":353.4285545349121,"y":557.4285860061646,"wires":[]},{"id":"5fc8cf6a.34944","type":"ui_gauge","z":"ffc0c858.c13c98","name":"gauge1","group":"fdda5a53.4c4a18","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":419.42853927612305,"y":274.4285717010498,"wires":[]},{"id":"cc496f3c.78007","type":"change","z":"ffc0c858.c13c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"StartDrone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":732.4285278320312,"y":540.4285278320312,"wires":[["8526beb2.ea246","94a92a89.f99958"]]},{"id":"be64d7d5.f8e0b8","type":"switch","z":"ffc0c858.c13c98","name":"","property":"payload.level","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","outputs":1,"x":550.4284515380859,"y":532.999942779541,"wires":[["cc496f3c.78007"]]},{"id":"201b6fe7.f207e","type":"change","z":"ffc0c858.c13c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"StartDrone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":745.4285354614258,"y":589.4285564422607,"wires":[["8526beb2.ea246","94a92a89.f99958"]]},{"id":"a20d9ca2.ce143","type":"switch","z":"ffc0c858.c13c98","name":"","property":"payload.level","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","outputs":1,"x":558.4284477233887,"y":580.999963760376,"wires":[["201b6fe7.f207e"]]},{"id":"a7592c26.e196a","type":"change","z":"ffc0c858.c13c98","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"StartDrone","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":717.4285278320312,"y":631.2857055664062,"wires":[["8526beb2.ea246","94a92a89.f99958"]]},{"id":"a5d90337.d656b","type":"switch","z":"ffc0c858.c13c98","name":"","property":"payload.level","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","outputs":1,"x":527.4284477233887,"y":643.857141494751,"wires":[["a7592c26.e196a"]]},{"id":"a628950f.188d48","type":"join","z":"ffc0c858.c13c98","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"1","count":"","x":614.8333969116211,"y":224.33335494995117,"wires":[["7643bb8e.1b4114"]]},{"id":"4110a4e9.2c84bc","type":"debug","z":"ffc0c858.c13c98","name":"","active":false,"console":"false","complete":"false","x":1018.8333740234375,"y":85.66667079925537,"wires":[]},{"id":"fdda5a53.4c4a18","type":"ui_group","z":"","name":"","tab":"938f534e.a192a","disp":true,"width":"6"},{"id":"665c55b1.bb2b7c","type":"ui_group","z":"","name":"","tab":"938f534e.a192a","order":2,"disp":true,"width":"6"},{"id":"938f534e.a192a","type":"ui_tab","z":"","name":"Estado tubería","icon":"dashboard"}]