node-red/flows.json
[{"id":"ab8d4def.4ea7c","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"takeoff","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.82144165039062,"y":449.5714340209961,"wires":[["f2d14673.b98698"]]},{"id":"8bd8f36a.a2253","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"land","payloadType":"str","repeat":"","crontab":"","once":false,"x":97.82144165039062,"y":512.5714340209961,"wires":[["f2d14673.b98698"]]},{"id":"14d5213f.e5444f","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"photo","payloadType":"str","repeat":"","crontab":"","once":false,"x":89.82144165039062,"y":581.5714340209961,"wires":[["f2d14673.b98698"]]},{"id":"4d496ae2.035754","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"status","payloadType":"str","repeat":"","crontab":"","once":false,"x":83.82144165039062,"y":385.5714340209961,"wires":[["30653599.407ffa"]]},{"id":"6ced727e.0ab99c","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"clockwise","payloadType":"str","repeat":"","crontab":"","once":false,"x":100.82144165039062,"y":649.5714340209961,"wires":[["bee907cd.59c2f8"]]},{"id":"bee907cd.59c2f8","type":"function","z":"a7b8d5a0.6a7c28","name":"","func":"msg.payload = \"clockwise\";\nmsg.command_options = 0.2;\nreturn msg;","outputs":1,"noerr":0,"x":323.32148361206055,"y":624.2857131958008,"wires":[[]]},{"id":"30653599.407ffa","type":"function","z":"a7b8d5a0.6a7c28","name":"take off","func":"var msg1 = { payload : \"takeoff\"};\nvar msg2 = { payload : \"delay\"};\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":152.17855834960938,"y":302.4285202026367,"wires":[["d6360cb3.e851","a3732576.8bc268"],["1d2d3b4d.0b8665"]]},{"id":"d6360cb3.e851","type":"drone-commands","z":"a7b8d5a0.6a7c28","name":"","ip_address":"7281db3c.3b1f84","x":1190.0717391967773,"y":28.07144260406494,"wires":[]},{"id":"1d2d3b4d.0b8665","type":"delay","z":"a7b8d5a0.6a7c28","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":253.82143783569336,"y":358.00000381469727,"wires":[["4f08bdb9.9261a4"]]},{"id":"4f08bdb9.9261a4","type":"function","z":"a7b8d5a0.6a7c28","name":"up","func":"var msg1 = { payload : \"up\", commands_options : 0.2};\nvar msg2 = { payload : \"delay\"};\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":317.42857360839844,"y":308.17856073379517,"wires":[["d6360cb3.e851","a3732576.8bc268"],["a8aadf08.d7755"]]},{"id":"a8aadf08.d7755","type":"delay","z":"a7b8d5a0.6a7c28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":432.1787567138672,"y":352.42856216430664,"wires":[["f881d78c.131e58"]]},{"id":"f881d78c.131e58","type":"function","z":"a7b8d5a0.6a7c28","name":"stop","func":"var msg1 = { payload : \"stop\"};\nvar msg2 = { payload : \"delay\"};\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":463.92860412597656,"y":306.4285612106323,"wires":[["d6360cb3.e851","a3732576.8bc268"],["823108b9.fa2758"]]},{"id":"823108b9.fa2758","type":"delay","z":"a7b8d5a0.6a7c28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":607.6786079406738,"y":348.42856216430664,"wires":[["f4cf6866.78ba88"]]},{"id":"f4cf6866.78ba88","type":"function","z":"a7b8d5a0.6a7c28","name":"front","func":"var msg1 = { payload : \"front\", commands_options : 0.2};\nvar msg2 = { payload : \"delay\"};\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":621.7857246398926,"y":303.0357084274292,"wires":[["d6360cb3.e851","a3732576.8bc268"],["e8be355c.00e828"]]},{"id":"e8be355c.00e828","type":"delay","z":"a7b8d5a0.6a7c28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":783.0357284545898,"y":349.2857093811035,"wires":[["27147882.4549a8"]]},{"id":"27147882.4549a8","type":"function","z":"a7b8d5a0.6a7c28","name":"stop","func":"var msg1 = { payload : \"stop\"};\nvar msg2 = { payload : \"delay\"};\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":773.0357284545898,"y":300.5357084274292,"wires":[["d6360cb3.e851","a3732576.8bc268"],["aa9b226.b3b7fe"]]},{"id":"aa9b226.b3b7fe","type":"delay","z":"a7b8d5a0.6a7c28","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":954.2856674194336,"y":350.5357093811035,"wires":[["ab7ed8dc.419c58"]]},{"id":"ab7ed8dc.419c58","type":"function","z":"a7b8d5a0.6a7c28","name":"photo","func":"var msg1 = { payload : \"photo\"};\nvar msg2 = { payload : \"delay\"};\nreturn [msg1,msg2];\n","outputs":"2","noerr":0,"x":938.0356712341309,"y":294.2857084274292,"wires":[["d6360cb3.e851","a3732576.8bc268"],["e358b018.53a05"]]},{"id":"e358b018.53a05","type":"delay","z":"a7b8d5a0.6a7c28","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1163.0356063842773,"y":348.03570890426636,"wires":[["bc4c1150.67535"]]},{"id":"bc4c1150.67535","type":"function","z":"a7b8d5a0.6a7c28","name":"land","func":"var msg1 = { payload : \"land\"};\nreturn msg1;\n","outputs":"1","noerr":0,"x":1184.2855911254883,"y":300.53570795059204,"wires":[["d6360cb3.e851","a3732576.8bc268"]]},{"id":"3cb069e1.2e9896","type":"function","z":"a7b8d5a0.6a7c28","name":"front","func":"msg.payload = \"front\"\nmsg.commands_options = 0.2;\nreturn msg;\n","outputs":"1","noerr":0,"x":565.5357055664062,"y":645.5357055664062,"wires":[["f2d14673.b98698"]]},{"id":"a291631f.f28cd","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":415.0893020629883,"y":689.4643115997314,"wires":[["3cb069e1.2e9896"]]},{"id":"a3732576.8bc268","type":"debug","z":"a7b8d5a0.6a7c28","name":"","active":true,"console":"false","complete":"true","x":566.5893859863281,"y":167.0714340209961,"wires":[]},{"id":"cf2bac44.3e22","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":433.0357208251953,"y":789.2856941223145,"wires":[["1e189b41.f2db65"]]},{"id":"574b76f2.472ab8","type":"inject","z":"a7b8d5a0.6a7c28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":771.3393020629883,"y":753.0357074737549,"wires":[["bac945f6.277328"]]},{"id":"1e189b41.f2db65","type":"function","z":"a7b8d5a0.6a7c28","name":"back","func":"msg.payload = \"back\"\nmsg.commands_options = 0.2;\nreturn msg;\n","outputs":"1","noerr":0,"x":580.5357055664062,"y":789.8214111328125,"wires":[["f2d14673.b98698"]]},{"id":"bac945f6.277328","type":"function","z":"a7b8d5a0.6a7c28","name":"video","func":"msg.payload = \"getVideoStream\";\nreturn msg;\n","outputs":"1","noerr":0,"x":858.0357055664062,"y":682.3214111328125,"wires":[[]]},{"id":"98351618.6f6838","type":"ui_gauge","z":"a7b8d5a0.6a7c28","name":"","group":"eb5e6a28.9379e8","order":0,"width":0,"height":0,"gtype":"donut","title":"Level","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":665.0714721679688,"y":36.57142639160156,"wires":[]},{"id":"4c88ce7c.caf01","type":"function","z":"a7b8d5a0.6a7c28","name":"","func":"var battery = msg.data;\nmsg.payload = battery;\nreturn msg;\n\n","outputs":"1","noerr":0,"x":471.0714416503906,"y":34.142852783203125,"wires":[["98351618.6f6838"]]},{"id":"f2d14673.b98698","type":"drone-commands","z":"a7b8d5a0.6a7c28","name":"","ip_address":"7281db3c.3b1f84","x":559.0714416503906,"y":510.8571548461914,"wires":[]},{"id":"be3e207f.96d67","type":"switch","z":"a7b8d5a0.6a7c28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"batteryChange","vt":"str"},{"t":"eq","v":"pictures","vt":"str"}],"checkall":"true","outputs":2,"x":301.0714416503906,"y":59.14286804199219,"wires":[["4c88ce7c.caf01"],["7a204f9e.7264f"]]},{"id":"7a204f9e.7264f","type":"function","z":"a7b8d5a0.6a7c28","name":"","func":"var photo = msg.data;\nmsg.payload = photo;\nreturn msg;\n\n","outputs":"1","noerr":0,"x":334.4285583496094,"y":149.42855072021484,"wires":[["2ee31b15.cacdd4","a3732576.8bc268"]]},{"id":"2ee31b15.cacdd4","type":"base64","z":"a7b8d5a0.6a7c28","name":"","x":531.0715637207031,"y":97.28571319580078,"wires":[["87cdef48.1ecb6"]]},{"id":"87cdef48.1ecb6","type":"ui_template","z":"a7b8d5a0.6a7c28","group":"eb5e6a28.9379e8","name":"","order":0,"width":0,"height":0,"format":"<img width=\"160\" height=\"240\" alt=\"image\" src=\"data:image/jpg;base64,{{msg.payload}}\" />","storeOutMessages":true,"fwdInMessages":true,"x":739.0714416503906,"y":98.14286041259766,"wires":[[]]},{"id":"46ab81af.90e5e","type":"drone-data","z":"a7b8d5a0.6a7c28","name":"","ip_address":"7281db3c.3b1f84","landed":true,"landing":true,"flying":true,"hovering":true,"batteryChange":true,"altitudeChange":true,"pictures":true,"pictures_delay":0,"telemetry":false,"telemetry_delay":0,"gps":false,"gps_delay":0,"x":79.07142639160156,"y":110.00000762939453,"wires":[["be3e207f.96d67","a3732576.8bc268"]]},{"id":"7281db3c.3b1f84","type":"drone-config","z":"","ip_address":"192.168.2.1"},{"id":"eb5e6a28.9379e8","type":"ui_group","z":"","name":"Battery","tab":"4b1e1b5c.cb6784","disp":true,"width":"6"},{"id":"4b1e1b5c.cb6784","type":"ui_tab","z":"","name":"Drone","icon":"dashboard","order":"1"}]