node-red/pipesflow.json
[{"id":"8ed323b5.6e837","type":"azureiothub","z":"6d827224.aed11c","name":"Azure IoT Hub","protocol":"amqp","x":793.0716705322266,"y":548.7143430709839,"wires":[["32ad13f5.1075cc"]]},{"id":"cc897606.64d318","type":"ui_slider","z":"6d827224.aed11c","name":"level1","label":"Level1","group":"e0731f6e.4fa62","order":1,"width":0,"height":0,"passthru":false,"topic":"level1","min":0,"max":"100","step":1,"x":86.07167053222656,"y":64.14296340942383,"wires":[["1eaa3bb9.9fb914","dda2a008.04943"]]},{"id":"9ee02c66.2afa1","type":"inject","z":"6d827224.aed11c","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"x":209.00003051757812,"y":455.57157039642334,"wires":[["6542d1c4.b4022"]]},{"id":"4e9c4aef.72e044","type":"debug","z":"6d827224.aed11c","name":"","active":true,"console":"false","complete":"false","x":909.0714912414551,"y":121.00002098083496,"wires":[]},{"id":"6542d1c4.b4022","type":"function","z":"6d827224.aed11c","name":"","func":"var level1 = global.get('level1');\nvar level2 = global.get('level2');\nvar level3 = global.get('level3');\nvar level4 = global.get('level4');\nvar time = new Date();\n//msg.payload = {\"DeviceId\":\"Pipe\", \"level\": level, \"timestamp\" : time, }\n//return msg;\n\nvar msg1 = {payload:{\"DeviceId\":\"Pipe01\", \"level\": level1, \"timestamp\" : time, \"lat\": 40.418274, \"lon\" : -3.797990}};\nvar msg2 = {payload:{\"DeviceId\":\"Pipe02\", \"level\": level2, \"timestamp\" : time, \"lat\": 40.418523, \"lon\" : -3.804565}};\nvar msg3 = {payload:{\"DeviceId\":\"Pipe03\", \"level\": level3, \"timestamp\" : time, \"lat\": 40.419131, \"lon\" : -3.792798}};\nvar msg4 = {payload:{\"DeviceId\":\"Pipe04\", \"level\": level4, \"timestamp\" : time, \"lat\": 40.410599, \"lon\" : -3.798039}};\n\n\nmsg.payload=[msg1, msg2, msg3, msg4 ];\nreturn msg;","outputs":"1","noerr":0,"x":450.0716018676758,"y":457.14301681518555,"wires":[["9617045e.98bfd8"]]},{"id":"9617045e.98bfd8","type":"json","z":"6d827224.aed11c","name":"","x":624.0714950561523,"y":451.0001811981201,"wires":[["8ed323b5.6e837","32ad13f5.1075cc"]]},{"id":"c02190cd.e4fe3","type":"ui_slider","z":"6d827224.aed11c","name":"level2","label":"Level2","group":"e0731f6e.4fa62","order":4,"width":0,"height":0,"passthru":true,"topic":"level2","min":0,"max":"100","step":1,"x":70.07150650024414,"y":110.71431159973145,"wires":[["46e5a9c4.0461d8","dda2a008.04943"]]},{"id":"182ca541.d49f2b","type":"ui_slider","z":"6d827224.aed11c","name":"level3","label":"Level3","group":"1d83ef28.e3f541","order":1,"width":0,"height":0,"passthru":true,"topic":"level3","min":0,"max":"100","step":1,"x":93.4285659790039,"y":172.42857456207275,"wires":[["45e21193.5c5a2","dda2a008.04943"]]},{"id":"46e5a9c4.0461d8","type":"ui_gauge","z":"6d827224.aed11c","name":"gauge2","group":"e0731f6e.4fa62","order":5,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":273.0714569091797,"y":88.71434211730957,"wires":[]},{"id":"45e21193.5c5a2","type":"ui_gauge","z":"6d827224.aed11c","name":"gauge3","group":"1d83ef28.e3f541","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":271.4285583496094,"y":188.42866134643555,"wires":[]},{"id":"818cb1bc.10b6a","type":"ui_slider","z":"6d827224.aed11c","name":"level4","label":"Level4","group":"1d83ef28.e3f541","order":4,"width":0,"height":0,"passthru":false,"topic":"level4","min":0,"max":"100","step":1,"x":103.00000381469727,"y":254.42860221862793,"wires":[["dda2a008.04943","a116a12e.48bd9"]]},{"id":"dda2a008.04943","type":"function","z":"6d827224.aed11c","name":"","func":"global.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":502.42857360839844,"y":130.42856216430664,"wires":[["a3649954.08f8d8"]]},{"id":"a116a12e.48bd9","type":"ui_gauge","z":"6d827224.aed11c","name":"gauge4","group":"1d83ef28.e3f541","order":5,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":287.4286231994629,"y":321.4286870956421,"wires":[]},{"id":"1eaa3bb9.9fb914","type":"ui_gauge","z":"6d827224.aed11c","name":"gauge1","group":"e0731f6e.4fa62","order":2,"width":0,"height":0,"gtype":"wave","title":"","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":277.4285659790039,"y":28.4286527633667,"wires":[]},{"id":"32ad13f5.1075cc","type":"debug","z":"6d827224.aed11c","name":"","active":false,"console":"false","complete":"false","x":918.8333969116211,"y":381.66670513153076,"wires":[]},{"id":"a3649954.08f8d8","type":"switch","z":"6d827224.aed11c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":645.1667022705078,"y":203.0000114440918,"wires":[["2ac2023b.87e21e"],[]]},{"id":"2ac2023b.87e21e","type":"function","z":"6d827224.aed11c","name":"","func":"msg.payload={data:'DroneStart'};\nreturn msg;","outputs":1,"noerr":0,"x":805.1666870117188,"y":215,"wires":[["9617045e.98bfd8","4e9c4aef.72e044"]]},{"id":"e0731f6e.4fa62","type":"ui_group","z":"","name":"","tab":"","disp":true,"width":"6"},{"id":"1d83ef28.e3f541","type":"ui_group","z":"","name":"","tab":"","order":2,"disp":true,"width":"6"}]